dhcp-range={{ ansible_default_ipv4.address }},proxy,{{ ansible_default_ipv4.netmask }}

enable-tftp
tftp-root=/var/lib/tftpboot

### PXE Settings

# Legacy PXE
pxe-service=tag:#ipxe,x86PC,"PXE chainload to iPXE",undionly.kpxe
dhcp-match=set:bios,option:client-arch,0
dhcp-boot=tag:bios,undionly.kpxe

# UEFI
pxe-service=tag:ipxe,X86-64_EFI, "Boot to UEFI", ipxe.efi
pxe-service=tag:ipxe,BC_EFI, "Boot to UEFI PXE-BC", ipxe.efi
dhcp-match=set:efibc,option:client-arch,7
dhcp-boot=tag:efibc,ipxe.efi
dhcp-match=set:efi64,option:client-arch,9
dhcp-boot=tag:efi64,ipxe.efi

# iPXE - chainload to matchbox ipxe boot script
dhcp-userclass=set:ipxe,iPXE
dhcp-boot=tag:ipxe,http://{{ inventory_hostname }}:8080/boot.ipxe,{{ ansible_default_ipv4.address }},{{ ansible_default_ipv4.address }}

address=/{{ inventory_hostname }}/{{ ansible_default_ipv4.address }}

# verbose
log-queries
log-dhcp
